# ==============================
# 项目输出与依赖目录（必须忽略）
# ==============================
bin/
lib/
doc/
src/bin/
src/include/

# ==============================
# VS 编译生成文件（必须忽略）
# ==============================
.vs/
x64/
x86/
Debug/
Release/
src/XVideoEdit/.vs/
src/XVideoEdit/x64/
src/XVideoEdit/XVideoEdit/x64/

# ==============================
# VS 用户配置与缓存文件（必须忽略）
# ==============================
*.vcxproj.user
*.suo
*.sdf
*.opensdf
*.VC.db
*.VC.opendb
*.obj
*.ilk
*.pdb
*.log
*.tmp
*.bak

# ==============================
# 可执行文件与依赖库（必须忽略）
# ==============================
*.exe
*.dll
*.lib
*.exp
*.pdb

# ==============================
# Qt 临时文件（可选忽略）
# ==============================
*.pro.user
*.pro.user.*
*.moc
*.ui
*.qrc
ui_*.h
qrc_*.h
Makefile
Makefile.*
.qmake.stash